:root {
  --main-bg_color: rgb(17, 16, 16);
  --accent-color: rgb(7, 56, 7);
  --text-color: #f7f0f0;
  --hover-color: rgb(44, 224, 98);
  --nonactive-color: rgb(145, 142, 142);
  --transition: 250ms linear;
  --main-bg: linear-gradient(
    to bottom,
    var(--accent-color),
    var(--main-bg_color)
  );
  --transplanted-bg: linear-gradient(
    to bottom,
    rgba(47, 47, 47, 0.7),
    rgba(10, 77, 38, 0.7)
  );
}
