.footer {
  background: var(--main-bg);
}
.logo {
  display: none;
}

.author {
  display: flex;
  gap: 10px;

  justify-content: center;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: orange;
  }
}
@media (min-width: 768px) {
  .logo {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
  }
  .author {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
