.wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
  justify-content: space-around;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.link > svg {
  transition: transform var(--transition);
}
.link:hover > svg,
.link:focus > svg {
  transform: scale(1.2);
}
.socials {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  gap: 2px;
}
.social_link {
  padding: 5px 16px;
  border-radius: 40px;
  background-color: var(--main-bg_color);
  transition: transform var(--transition);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
@media (min-width: 768px) {
  .socials {
    flex-direction: row;
    gap: 6px;
  }
  .social_link {
    padding: 10px 30px;
    font-size: 30px;
  }
}
