.wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
  justify-content: space-around;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.link {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.link > svg {
  transition: transform var(--transition);
}
.link:hover > svg,
.link:focus > svg {
  transform: scale(1.2);
}
.socials {
  display: flex;
  flex-direction: column;
  color: #ffff;
  gap: 2px;
}
.social_link {
  padding: 5px 16px;
  border-radius: 40px;
  background-color: black;
  transition: transform var(--transition);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
@media (min-width: 768px) {
  .socials {
    flex-direction: row;
    gap: 6px;
  }
  .social_link {
    padding: 10px 30px;
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
}
/* .viber {
  background-color: #7d3daf;
}
.telegram {
  background-color: #368ef1;
}
.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
} */
